
.azSlider-body {
  background-color: #CECECE;
}
.azSlider-body .articalhead {
  height: 400px;
  background-attachment: fixed;
}
.azSlider-body .articalhead h1 {
  font-family: 'GothamRounded-Bold';
  color: #FFF;
  font-size: 30px;
  padding: 350px 0px 30px;
}
.azSlider-body .content {
  padding: 50px 0px;
}
.azSlider-body .content h1 {
  font-family: 'GothamRounded-Bold';
  color: #565656;
  font-size: 30px;
  text-align: center;
  margin: 50px 0px 50px;
}
.azSlider-body .content .items ul {
  margin: 50px 0px;
}
.azSlider-body .content .items ul li {
  float: left;
  width: calc(50% - 20px);
  height: 400px;
  list-style: none;
  position: relative;
  margin: 20px 20px;
}
.azSlider-body .content .items ul li:nth-child(2n) {
  margin-right: 0px;
}
.azSlider-body .content .items ul li:nth-child(2n+1) {
  margin-left: 0px;
}
.azSlider-body .content .items ul li .box {
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
}
.azSlider-body .content .items ul li .box:hover .overlylayer {
  opacity: 0;
}
.azSlider-body .content .items ul li .box:hover .overly {
  display: none;
}
.azSlider-body .content .items ul li .box .overlylayer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  opacity: 1;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
}
.azSlider-body .content .items ul li .box .overly {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.azSlider-body .content .items ul li .box .overly .text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.azSlider-body .content .items ul li .box .overly .text h3 {
  font-family: 'GothamRounded-Medium';
  text-align: center;
  margin: 15px 0px;
  font-size: 20px;
  color: #fff;
}
.azSlider-body .content .items ul li .box .overly .text p {
  font-family: 'GothamRounded-Light';
  text-align: center;
  max-width: 400px;
  margin: 15px auto;
  display: block;
  color: #fff;
}
.azSlider-body .content .items ul li .box .description {
  width: 100%;
  height: 100%;
  display: none;
  z-index: 8;
  top: 0px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}
.azSlider-body .content .items ul li .box .description p {
  position: relative;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  text-align: center;
  margin: 0px auto;
  max-width: 400px;
  line-height: 30px;
  display: block;
  color: #fff;
  font-family: 'GothamRounded-Book';
  font-size: 16px;
  letter-spacing: 0.08em;
}
.azSlider-body .content .items ul li .box .description p:hover {
  border: 0px;
}
.azSlider-body .content .items ul li .box .description .btns {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.azSlider-body .content .items ul li .box:hover .description {
  display: block;
}

.azSlider-body.case-study .content .items ul li .box:hover .overlylayer {
  opacity: 1;
}

.azSlider-body.case-study .content .items ul li .box:hover .overly {
  display: block;
}

.azSlider-body.case-study .content .items ul li .box:hover .description {
  display: none;
}

.azSlider .azSlider-body h1 {
  margin: 50px 0px;
}
.azSlider .azSlider-body .btn {
  color: #565656;
  border: 2px solid #565656;
  margin-top: 50px;
}
.azSlider .azSlider-body .btn:hover {
  color: #FFF;
  border: 2px solid #CD7319;
}
.azSlider .azSlider-body .content .container {
  max-width: 100%;
  padding: 0px;
}
.azSlider .azSlider-body .content .container .items {
  width: 100%;
  overflow: hidden;
  height: 400px;
  padding: 0px;
  position: relative;
}
.azSlider .azSlider-body .content .container .items ul {
  width: 10000px;
  margin: 0px;
  transition-duration: 0.6s;
}
.azSlider .azSlider-body .content .container .items ul li {
  max-width: 800px;
  width: 100%;
  height: 400px;
  margin: 0px 15px;
}
.azSlider .azSlider-body .content .container .items ul li .box {
  height: calc(100% - 20px);
  margin: 10px 0px;
}
.azSlider .azSlider-body .content .container .items ul li .box .overly {
  overflow: hidden;
}
.azSlider .azSlider-body .content .container .items ul li .box .overlylayer {
  z-index: 7;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: background-color 600ms linear;
  -moz-transition: background-color 600ms linear;
  -o-transition: background-color 600ms linear;
  -ms-transition: background-color 600ms linear;
  transition: background-color 600ms linear;
}
.azSlider .azSlider-body .content .container .items ul li .box:hover .overly {
  display: block;
}
.azSlider .azSlider-body .content .container .items ul li .box:hover .viewbtn {
  display: none;
}
.azSlider .azSlider-body .content .container .items ul li .box:hover .overlylayer {
  opacity: 1;
}
.azSlider .azSlider-body .content .container .items ul li .box .overly .left {
  width: 50%;
  float: left;
  z-index: 4;
}
.azSlider .azSlider-body .content .container .items ul li .box .overly .left .img {
  margin-top: 50px;
}
.azSlider .azSlider-body .content .container .items ul li .box .overly .right {
  width: 50%;
  float: right;
  margin-top: 70px;
  padding: 0px 10px;
  background-color: transparent;
}
.azSlider .azSlider-body .content .container .items ul li .box .overly .right h3 {
  font-family: 'GothamRounded-Medium';
  text-align: center;
  margin: 15px 0px;
  font-size: 20px;
  color: #fff;
}
.azSlider .azSlider-body .content .container .items ul li .box .overly .right span {
  font-family: 'GothamRounded-Light';
  text-align: center;
  max-width: 400px;
  margin: 15px auto;
  display: block;
  color: #fff;
}
.azSlider .azSlider-body .content .container .items ul li .box .overly .right p {
  font-family: 'GothamRounded-Light';
  text-align: center;
  margin: 15px auto;
  display: block;
  color: #fff;
  font-family: 'GothamRounded-Book';
  font-size: 16px;
  letter-spacing: 0.08em;
}
.azSlider .azSlider-body .content .container .items ul li .box .overly .right .btns {
  text-align: center;
}
.azSlider .azSlider-body .content .container .items ul li .box .overly .right .btns .btn {
  display: inline-block;
  color: white;
  border: 2px solid white;
  margin-top: 20px;
  display: none;
}
.azSlider .azSlider-body .content .container .items ul li .box .overly .right .btns .btn:first-child {
  margin-right: 10px;
}
.azSlider .azSlider-body .content .container .items ul li .box .overly .right .btns .btn:last-child {
  margin-left: 10px;
}
.azSlider .azSlider-body .content .container .items ul li .box .overly .right .btns .btn:hover {
  border: 2px solid #CD7319;
}
.azSlider .azSlider-body .content .container .items ul li.active .box {
  -webkit-box-shadow: 0px 0px 10px 3px #969696;
  -moz-box-shadow: 0px 0px 10px 3px #969696;
  box-shadow: 0px 0px 10px 3px #969696;
}
.azSlider .azSlider-body .content .container .items ul li.active .box .overlylayer {
  -webkit-transition: background-color 600ms ease-out;
  -moz-transition: background-color 600ms ease-out;
  -o-transition: background-color 600ms ease-out;
  -ms-transition: background-color 600ms ease-out;
  transition: background-color 600ms ease-out;
  background-color: rgba(0, 0, 0, 0.7);
  transition-delay: 0.6s;
  z-index: 3;
}
.azSlider .azSlider-body .content .container .items .leftarrow {
  position: absolute;
  left: 2%;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 11;
  cursor: pointer;
}
.azSlider .azSlider-body .content .container .items .leftarrow svg path {
  fill: #565656;
}
.azSlider .azSlider-body .content .container .items .leftarrow.active svg {
  pointer-events: none;
}
.azSlider .azSlider-body .content .container .items .leftarrow.active svg path {
  fill: #E0E0E0;
}
.azSlider .azSlider-body .content .container .items .rightarrow {
  position: absolute;
  right: 2%;
  top: 50%;
  display: block;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 11;
  cursor: pointer;
}
.azSlider .azSlider-body .content .container .items .rightarrow svg path {
  fill: #565656;
}
.azSlider .azSlider-body .content .container .items .rightarrow.active svg {
  pointer-events: none;
}
.azSlider .azSlider-body .content .container .items .rightarrow.active svg path {
  fill: #E0E0E0;
}

.azSlider #projects .content .container .items ul li .box .overly .right {
  max-width: 500px;
  margin: 0px auto;
  display: block;
  float: none;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.azSlider #projects .content .container .items ul li .box .overly .left {
  display: none;
}


