/*------------------------------------------------------------------
[Master Stylesheet]

Project:    CropIt template
Version:    1.0

------------------------------------------------------------------*/

@media screen and (max-width: 1360px){
    .portfolio-cat-item span {
        font-size: 2em;
    }

    .tabs-head li, 
    .filter-button-group button {
        margin: 0 15px 15px;
    }

    .is-text {
        padding: 40px 30px;
    }

    .icon-box2 {
        padding: 60px 30px 45px;
    }
}

@media screen and (max-width: 1280px){
    .contact-row .label {
        width: 100%;
        float: none;
    }

    .contact-row .value {
        margin-left: 0;
    }

    .social-links span {
        display: block;
        margin-bottom: 15px;
    }

    .social-links a:first-of-type {
        margin-left: 0;
    }
}

@media screen and (max-width: 1020px){
    .reviews-slider .owl-prev {
        left: 0px;
    }

    .reviews-slider .owl-next {
        right: 0;
    }
}

@media screen and (max-width: 990px){
    .header {
        height: 70px;
        background: #3c3c3b;
        position: relative;
    }

    .navigation {
        position: absolute;
        top: 65px;
        left: 100%;
        width: 100%;
        background: #3c3c3b;
        display: block !important;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.5s ease;
    }

    .white-bg .navigation {
        background: #fff;
    }

    .navigation.m-open {
        left: 0;
    }

    .header .fw-container, 
    .header .fw-main-row {
        position: static;
    }

    .logo-area {
        margin: 16px 0 0;
    }

    .logo-area img {
        max-width: 135px;
    }

    .search-top {
        margin-left: 0;
    }

    .st-wrap .input {
        width: 150px;
    }

    .st-button {
        margin: 21px 0 0;
    }

    .side-area-btn {
        margin: 26px 0 0 25px;
    }

    .navigation > ul > li {
        float: none;
        padding: 5px 0 !important;
    }

    .navigation > ul > li.current-menu-item > a {
        border: none;
        color: #c05764;
    }

    .navigation > ul > li > a {
        padding: 5px 0 5px;
    }

    .navigation > ul > li .sub-nav {
        position: relative;
        opacity: 1 !important;
        visibility: visible !important;
        top: 0 !important;
        left: 0 !important;
        display: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }

    .navigation > ul > li .sub-nav:before {
        display: none;
    }

    .navigation > ul > li .sub-nav .sub-menu {
        text-align: left;
        padding: 0  10px;
    }

    .navigation > ul > li .sub-nav .sub-menu li a {
        padding: 10px 10px 10px;
    }

    .navigation > ul > li .sub-nav .menu-item-has-children:after {
        display: none;
    }

    .navigation > ul > li .sub-nav .menu-item-has-children > a:after {
        content: '\e84d';
        font-family: "icon-font";
        font-size: 8px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        line-height: 15px;
        margin-top: -2px;
    }

    .navigation > ul > li.menu-item-has-children > a:after {
        content: '\e84d';
        font-family: "icon-font";
        font-size: 10px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
        line-height: 15px;
        margin-top: -2px;
    }

    .header-space {
        display: none;
    }

    .full-screen-slider,
    .full-screen {
        font-size: 14px;
    }

    .icon-box-col {
        width: 50%;
    }

    .icon-box3 {
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px){
    body {
        font-size: 14px;
    }

    h1, 
    .h1 {
        font-size: 1.7em; /* 18px/48px */
        text-transform: uppercase;
        line-height: 1.250em; /* 48px/60px */
    }

    h1.min, 
    .h1.min {
        font-size: 1.8em;
    }

    h1.big, 
    .h1.big {
        font-size: 2.8em; /* 18px/60px */
        line-height: 1em;
        margin: 0 0 15px;
    }

    h2, 
    .h2 {
        font-size: 1.2em;
        text-transform: uppercase;
        /* margin: 0 0 0.5em; */
    }

    h3, 
    .h3 {
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: bold;
        margin: 1em 0;
    }

    h4, 
    .h4 {
        font-size: 1em;
    }

    h5, 
    .h5 {
        font-size: 0.9em;
    }

    .heading-decor2 {
        background-position: 0 11px;
    }

    h4.heading-decor2, 
    .h4.heading-decor2 {
        background-position: 0 4px;
    }

    h1.heading-decor2, 
    .h1.heading-decor2 {}

    h2.heading-decor2, 
    .h2.heading-decor2 {
        background-position: 0px 6px;
    }
    
    .fw-container {
        padding: 0 15px;
        width: 100%;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }

    .footer {
        padding: 15px 0;
    }
    
    .footer .heading-decor2 {
        margin: 20px 0;
    }

    .full-screen-slider .item h1, 
    .full-screen h1 {
       font-size: 2.5em;
   }

   .heading-decor2 > span {
    display: block;
    }

    .hd-btn {
        float: none;
        display: none;
    }

    .icon-box2 {
        padding: 20px 50px;
    }

    .icon-box2 p {
        max-width: 400px;
        margin: 0 auto;
    }

    .is-text {
        padding: 20px;
    }

    .skil-rate .label {
        font-size: 0.8em;
    }

    .pricing-item {
        margin: 10px 0;
    }

    .pricing-item {
        margin: 10px 0;
    }

    .subscribe-form .input {
        font-size: 12px;
        line-height: 45px;
    }

    .button-style1 {
        font-size: 12px;
        line-height: 16px;
    }

    .team-grid-item {
        height: 350px;
    }

    .icon-box-col {
        width: 100%;
    }

    .cf-item .image .fw-row > div {
        padding: 5px 0;
    }

    .cf-items.horisontal {
        width: auto !important;
    }

    .horisontal .gallery-item img {
        height: inherit !important;
    }

    .horisontal .gallery-item {
        float: none;
        margin: 30px 30px;
    }

    .cf-overlay {
        overflow: hidden;
        width: 100%;
        margin: 0;
    }

}

@media screen and (max-width: 380px){
    .full-screen-slider .item h1, 
    .full-screen h1 {
        font-size: 2em;
    }
    .filter-button-group button {
        display: block;
    }

    .tabs-head li.active-tab:after, .filter-button-group button.active-tab:after {
        background-size: 15px auto;
        height: 2px;
        bottom: 0;
    }
}