.gwd-div-1m5d {
    position: absolute;
    width: 535.304px;
    height: 897.996px;
    left: 13px;
    top: 0.009px;
    background-image: none;
    background-color: rgb(123, 103, 103);
    padding: 0px;
    margin: 0px;
/*    opacity: 0;*/
    transform: translate3d(-13px, 0px, 0px);
    -webkit-transform: translate3d(-13px, 0px, 0px);
    -moz-transform: translate3d(-13px, 0px, 0px);
    overflow: hidden;
}
.gwd-div-1xq9 {
    position: absolute;
    width: 450.05px;
    height: 400px;
    left: 30.53em;
    top: 0.009px;
    background-image: none;
    background-color: rgb(70, 47, 47);
    padding: 0px;
    margin: 0px;
/*    opacity: 0;*/
    transform: translate3d(-13px, 0px, 0px);
    -webkit-transform: translate3d(-13px, 0px, 0px);
    -moz-transform: translate3d(-13px, 0px, 0px);
    overflow: hidden;
}
.gwd-div-1kvs {
    position: absolute;
    width: 450.05px;
    height: 400.978px;
    left: 30.53em;
    top: 402.018px;
    background-image: none;
    background-color: rgb(121, 160, 113);
    padding: 0px;
    margin: 0px;
/*    opacity: 0;*/
    transform: translate3d(-13px, 0px, 0px);
    -webkit-transform: translate3d(-13px, 0px, 0px);
    -moz-transform: translate3d(-13px, 0px, 0px);
}
.gwd-div-19e4 {
    position: absolute;
    width: 535.304px;
    height: 897.996px;
    left: 55.6em;
    top: 0.009px;
    background-image: none;
    background-color: rgb(79, 74, 61);
    padding: 0px;
    margin: 0px;
/*    opacity: 0;*/
    transform: translate3d(-13px, 0px, 0px);
    -webkit-transform: translate3d(-13px, 0px, 0px);
    -moz-transform: translate3d(-13px, 0px, 0px);
}
.gwd-div-1m5d-design2 {
    position: absolute;
    width: 535.304px;
    height: 897.996px;
    left: 13px;
    top: 0.009px;
    background-image: none;
    background-color: rgb(123, 103, 103);
    padding: 0px;
    margin: 0px;
/*    opacity: 0;*/
    transform: translate3d(-13px, 0px, 0px);
    -webkit-transform: translate3d(-13px, 0px, 0px);
    -moz-transform: translate3d(-13px, 0px, 0px);
    overflow: hidden;
}
.gwd-div-1xq9-design2 {
    position: absolute;
    width: 535.304px;
    height: 897.996px;
    left: 30.53em;
    top: 0.009px;
    background-image: none;
    background-color: rgb(70, 47, 47);
    padding: 0px;
    margin: 0px;
/*    opacity: 0;*/
    transform: translate3d(-13px, 0px, 0px);
    -webkit-transform: translate3d(-13px, 0px, 0px);
    -moz-transform: translate3d(-13px, 0px, 0px);
    overflow: hidden;
}
.gwd-div-1kvs-design2 {
    position: absolute;
	
    width: 450.05px;
    height: 400.978px;
    left: 60.33em;
    top: 402.018px;
    background-image: none;
    background-color: rgb(121, 160, 113);
    padding: 0px;
    margin: 0px;
/*    opacity: 0;*/
    transform: translate3d(-13px, 0px, 0px);
    -webkit-transform: translate3d(-13px, 0px, 0px);
    -moz-transform: translate3d(-13px, 0px, 0px);
}
.gwd-div-19e4-design2 {
    position: absolute;
     width: 450.05px;
    height: 400.978px;
    left: 60.33em;
    top: 0.009px;
    background-image: none;
    background-color: rgb(79, 74, 61);
    padding: 0px;
    margin: 0px;
/*    opacity: 0;*/
    transform: translate3d(-13px, 0px, 0px);
    -webkit-transform: translate3d(-13px, 0px, 0px);
    -moz-transform: translate3d(-13px, 0px, 0px);
}
@keyframes gwd-gen-jww1gwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        transform: translate3d(-13px, 0px, 0px);
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -moz-transform: translate3d(-13px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    14.26% {
        opacity: 0;
        transform: translate3d(-13px, 0px, 0px);
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -moz-transform: translate3d(-13px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    20.18% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    24.52% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    96.53% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0.016129;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-jww1gwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    14.26% {
        opacity: 0;
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    20.18% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    24.52% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    96.53% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 0.016129;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-jww1gwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        -moz-transform: translate3d(-13px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    14.26% {
        opacity: 0;
        -moz-transform: translate3d(-13px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    20.18% {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    24.52% {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    96.53% {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0.016129;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
}
.htmlNoPages .gwd-gen-jww1gwdanimation {
    animation: gwd-gen-jww1gwdanimation_gwd-keyframes 6.908s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-jww1gwdanimation_gwd-keyframes 6.908s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-jww1gwdanimation_gwd-keyframes 6.908s linear 0s 1 normal forwards;
}
@keyframes gwd-gen-f5uugwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        transform: translate3d(-13px, 0px, 0px);
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -moz-transform: translate3d(-13px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    6.85% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    96.55% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-f5uugwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    6.85% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    96.55% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-f5uugwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        -moz-transform: translate3d(-13px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    6.85% {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    96.55% {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
}
/*.htmlNoPages .gwd-gen-f5uugwdanimation {*/
/*
    animation: gwd-gen-f5uugwdanimation_gwd-keyframes 7.034s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-f5uugwdanimation_gwd-keyframes 7.034s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-f5uugwdanimation_gwd-keyframes 7.034s linear 0s 1 normal forwards;
}
*/
@keyframes gwd-gen-1qp0gwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        transform: translate3d(-13px, 0px, 0px);
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -moz-transform: translate3d(-13px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    12.34% {
        opacity: 0;
        transform: translate3d(-13px, 0px, 0px);
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -moz-transform: translate3d(-13px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    19.69% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    95.83% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-1qp0gwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    12.34% {
        opacity: 0;
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    19.69% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    95.83% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-1qp0gwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        -moz-transform: translate3d(-13px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    12.34% {
        opacity: 0;
        -moz-transform: translate3d(-13px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    19.69% {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    95.83% {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
}
/*.htmlNoPages .gwd-gen-1qp0gwdanimation {*/
/*
    animation: gwd-gen-1qp0gwdanimation_gwd-keyframes 6.474s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-1qp0gwdanimation_gwd-keyframes 6.474s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-1qp0gwdanimation_gwd-keyframes 6.474s linear 0s 1 normal forwards;
}
*/
@keyframes gwd-gen-1okwgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        transform: translate3d(-13px, 0px, 0px);
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -moz-transform: translate3d(-13px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    7.91% {
        opacity: 0;
        transform: translate3d(-13px, 0px, 0px);
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -moz-transform: translate3d(-13px, 0px, 0px);
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    13.86% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    95.13% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-1okwgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    7.91% {
        opacity: 0;
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -webkit-animation-timing-function: ease;
    }
    13.86% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    95.13% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-1okwgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        -moz-transform: translate3d(-13px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    7.91% {
        opacity: 0;
        -moz-transform: translate3d(-13px, 0px, 0px);
        -moz-animation-timing-function: ease;
    }
    13.86% {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    95.13% {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
}
/*.htmlNoPages .gwd-gen-1okwgwdanimation {*/
/*
    animation: gwd-gen-1okwgwdanimation_gwd-keyframes 6.738s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-1okwgwdanimation_gwd-keyframes 6.738s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-1okwgwdanimation_gwd-keyframes 6.738s linear 0s 1 normal forwards;
}
*/
@keyframes gwd-gen-z3cbgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        transform: translate3d(-13px, 0px, 0px);
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -moz-transform: translate3d(-13px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    4.87% {
        opacity: 0;
        transform: translate3d(-13px, 0px, 0px);
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -moz-transform: translate3d(-13px, 0px, 0px);
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        -moz-animation-timing-function: ease;
    }
    12.09% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    96.45% {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate3d(0px, 0px, 0px);
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
    }
}
@-webkit-keyframes gwd-gen-z3cbgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    4.87% {
        opacity: 0;
        -webkit-transform: translate3d(-13px, 0px, 0px);
        -webkit-animation-timing-function: ease;
    }
    12.09% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    96.45% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-animation-timing-function: linear;
    }
}
@-moz-keyframes gwd-gen-z3cbgwdanimation_gwd-keyframes {
    0% {
        opacity: 0;
        -moz-transform: translate3d(-13px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    4.87% {
        opacity: 0;
        -moz-transform: translate3d(-13px, 0px, 0px);
        -moz-animation-timing-function: ease;
    }
    12.09% {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    96.45% {
        opacity: 1;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
    100% {
        opacity: 0;
        -moz-transform: translate3d(0px, 0px, 0px);
        -moz-animation-timing-function: linear;
    }
}
/*.htmlNoPages .gwd-gen-z3cbgwdanimation {*/
/*
    animation: gwd-gen-z3cbgwdanimation_gwd-keyframes 7.287s linear 0s 1 normal forwards;
    -webkit-animation: gwd-gen-z3cbgwdanimation_gwd-keyframes 7.287s linear 0s 1 normal forwards;
    -moz-animation: gwd-gen-z3cbgwdanimation_gwd-keyframes 7.287s linear 0s 1 normal forwards;
} CSS Document 
*/

